{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MSC Construction Between Acquirers</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'AppSite/style.css'%}">

</head>

<div id = "homepagebar">
    <img src="{%static 'AppSite/output-onlinepngtools.png'%}" alt="Logo">
    <a href="">
      Homepage
    </a>
    <a href="oursolution/">
      Our Solution
    </a>
    <a href="features/">
      Features
    </a>
    <a href="about/">
      About SmartPath
    </a>
    <a href="security/">
      Security & Privacy
    </a>
    <a href="contactus/">
      Contact Us
    </a>
    <a href="#" onclick="document.getElementById('id01').style.display='block'; return false;" style="width:auto;">
      Login
    </a>
</div>

<div class="about_header">
    <h1>About Us</h1>
</div>

<div class="about_content">
    <h2>Misson & Vision</h2>
    <p>Innovative Solutions : To revolutionise financial decision making through cutting edge technology, and tools that empower businesses to optimise their costs through transactional data</p>
    <p>Empowerment Through Data : To empower businesses with insights required to making smarter financial choices with the use of data visualisations and Artificial Intelligence</p>
    <p>Transparency : SmartPath is dedicated to bringing transparency to Settlement Data Analysis through user-friendly data analytics</p>

    <h2>Origin</h2>
    <p>Founder : Amaan Chaudhry</p>
    <p>Upon reading the increasing Merchant Service Charges businesses are faced with today, Amaan set out to create a tool which can be used to optimise costs for merchants</p>
    <p>As a final year Computer Science student, Amaan identified this endeavour as an ideal Final Year Project idea</p>
    <p>In collaboration with : Queen Mary Univeristy of London</p>

    <h2>Future Enhancements</h2>
    <p>Constant Innovation : SmartPath is commited to continious innovation and always on the look out for new approaches to advance data analytical capabilities</p>
    <p>Dashboard Customisation : Attempting to enhance the user experience by expanding dashboard customisation capabilities, suited for your preferences</p>
    <p>Expansion of Acquirer and Payment Network Collaboration : Aims to widen collaboration with a number of acquirers in the future, as well as increasing the number of compatible payment networks</p>
</div>