{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MSC Construction Between Acquirers</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'AppSite/style.css'%}">

</head>

<div id = "homepagebar">
    <img src="{%static 'AppSite/output-onlinepngtools.png'%}" alt="Logo">
    <a href="">
      Homepage
    </a>
    <a href="oursolution/">
      Our Solution
    </a>
    <a href="features/">
      Features
    </a>
    <a href="about/">
      About SmartPath
    </a>
    <a href="security/">
      Security & Privacy
    </a>
    <a href="contactus/">
      Contact Us
    </a>
    <a href="#" onclick="document.getElementById('id01').style.display='block'; return false;" style="width:auto;">
      Login
    </a>
</div>

<div class="contact_header">
    <h1>Contact Us</h1>
</div>

<div class="about_content">
    <h2>Contact Us</h2>
    <p>a.chaudhry@se21.qmul.ac.uk</p>
</div>