{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MSC Construction Between Acquirers</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'AppSite/dashboard.css'%}">
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="logo-appl"></ion-icon>
                        </span>
                        <span class="title">Smart Path</span>
                    </a>
                </li>

                <li>
                    <a href="dashboard">
                        <span class="icon">
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="testing.html">
                        <span class="icon">
                        </span>
                        <span class="title">Customers</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                        </span>
                        <span class="title">Messages</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                        </span>
                        <span class="title">Help</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                        </span>
                        <span class="title">Settings</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                        <ion-icon name="log-out-outline"></ion-icon>          
                        </span>
                        <span class="title">Password</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
            </div>
            <div id="csv-container">
                <input type="file" id="csv-file" accept=".csv">
                <div id="csv-data"></div>
                <div class="direction_buttons">
                    <button id="backBtn" disabled>Back</button>
                    <button id="nextBtn" disabled>Next</button>
                </div>
            </div>
            <table>
                <tr>
                  <th>Card Type</th>
                  <th>3DS_Secure</th>
                  <th>CardHolder Country</th>
                  <th>Issuer Country</th>
                  <th>Merchant Code</th>
                  <th>Transaction Method</th>
                  <th>Amount</th>
                </tr>
                <tr>
                <td id='Card_type'></td>
                <td id='secure'></td>
                <td id='ch_country'></td>
                <td id='is_country'></td>
                <td id='merchant_code'></td>
                <td id='transmethod'></td>
                <td id='amount'></td>
                </tr>
              </table>
            <h1 id='AIB_msc'><br></h1>
            <h1 id='Evalon_msc'><br></h1>
            <h1 id='Barclays_msc'><br></h1>
            <h1 id='Lowest Amount'><br></h1>

            <div id="chart-container">
                <canvas id="myChart"></canvas>
            </div>
            <div style="width: 50%; float: left;">
              <canvas id="barChart"></canvas>
            </div>
            <div style="width: 50%; float: left;">
              <canvas id="pieChart"></canvas>
            </div>
        </div>
    <script>let list = document.querySelectorAll(".navigation li");

        function activeLink() {
          list.forEach((item) => {
            item.classList.remove("hovered");
          });
          this.classList.add("hovered");
        }
        
        list.forEach((item) => item.addEventListener("mouseover", activeLink));
        
        let toggle = document.querySelector(".toggle");
        let navigation = document.querySelector(".navigation");
        let main = document.querySelector(".main");
        
        toggle.onclick = function () {
          navigation.classList.toggle("active");
          main.classList.toggle("active");
        };
        
        function openCity(evt, cityName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(cityName).style.display = "block";
          evt.currentTarget.className += " active";
        }
        
        document.getElementById("defaultOpen").click();</script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        function graphs(labels,dataset1,dataset2,dataset3){
            if (window.myChart instanceof Chart) {
        window.myChart.destroy();
    }

            const data =  {
                    labels: labels,
                    datasets: [{
                        label: 'Interchange Rate',
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        data: dataset1
                    }, {
                        label: 'Scheme Fee',
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        data: dataset2
                    },{
                        label: 'Margin',
                        backgroundColor: 'rgba(75, 192, 192, 0.5)',
                        data: dataset3
                    }]
            };
            var ctx = document.getElementById('myChart').getContext('2d');

            var myChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'MSC Construction Between Acquirers'
                        }
                    },
                    scales: {
                        x: {
                            stacked: true,
                        },
                        y: {
                            stacked: true
                        }
                    }
                }
            });

            var ctxPie = document.getElementById('pieChart').getContext('2d');
            var NewList = []
            for (let i = 0; i < dataset1.length; i++) {
                NewList.push(dataset1[i] + dataset2[i]+dataset3[i]);
            }
            var pieChart = new Chart(ctxPie, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Dataset 1',
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(153, 102, 255, 0.5)'
                        ],
                        data: NewList
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Total MSC'
                        }
                    }
                }
            });
        }
</script>
<script>
    document.getElementById('csv-file').addEventListener('change', handleFileSelect);

    let csvData = [];
    let currentIndex = 1;

    function handleFileSelect(event) {
        const file = event.target.files[0];
        if (!file) return;

        const reader = new FileReader();
        reader.onload = function(e) {
            const content = e.target.result;
            csvData = content.split('\n').map(row => row.trim().split(',')); 
            displayData();
        };
        reader.readAsText(file);
    }

    function displayData() {
    var cardTypeCell = document.getElementById('Card_type');
    var secureCell = document.getElementById('secure');
    var chCountryCell = document.getElementById('ch_country');
    var isCountryCell = document.getElementById('is_country');
    var merchantCodeCell = document.getElementById('merchant_code');
    var transMethodCell = document.getElementById('transmethod');
    var amountCell = document.getElementById('amount');

    cardTypeCell.textContent = csvData[currentIndex][0];
    secureCell.textContent = csvData[currentIndex][1];
    chCountryCell.textContent = csvData[currentIndex][2];
    isCountryCell.textContent = csvData[currentIndex][3];
    merchantCodeCell.textContent = csvData[currentIndex][7];
    transMethodCell.textContent = csvData[currentIndex][8];
    amountCell.textContent = csvData[currentIndex][9];

        updateNavigationButtons();
    }

    function updateNavigationButtons() {
        const backBtn = document.getElementById('backBtn');
        const nextBtn = document.getElementById('nextBtn');

        backBtn.disabled = currentIndex === 1;
        nextBtn.disabled = currentIndex === csvData.length - 2;
    }

    document.getElementById('backBtn').addEventListener('click', function() {
        if (currentIndex > 0) {
            currentIndex--;
            displayData();
            fetchPythonOutput(); 
        }
    });

    document.getElementById('nextBtn').addEventListener('click', function() {
        if (currentIndex < csvData.length - 1) {
            currentIndex++;
            displayData();
            fetchPythonOutput(); 
        }
    });

    function fetchPythonOutput() {
    const selectedRowData = csvData[currentIndex]; 
    fetch('/process_csv/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: 'selected_row=' + encodeURIComponent(JSON.stringify(selectedRowData))
    })
    .then(response => response.json())
    .then(data => {
        console.log('Received data:', data.result.AIB);
        var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: eval(data.result.labels),
                    datasets: [{
                        label: 'Interchange Rate',
                        backgroundColor: 'rgba(255, 99, 132, 0.5)', 
                        data: eval(data.result.dataset1)
                    }, {
                        label: 'Scheme Fee',
                        backgroundColor: 'rgba(54, 162, 235, 0.5)', 
                        data: eval(data.result.dataset2)
                    },{
                        label: 'Margin',
                        backgroundColor: 'rgba(75, 192, 192, 0.5)', 
                        data: eval(data.result.dataset3)
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'MSC Construction Between Acquirers'
                        }
                    },
                    scales: {
                        x: {
                            stacked: true,
                        },
                        y: {
                            stacked: true
                        }
                    }
                }
            });
        console.log(myChart);
        document.getElementById('python-output').innerHTML = html;
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
<script>
    document.getElementById('csv-file').addEventListener('change', function() {
        const fileInput = document.getElementById('csv-file');
        const file = fileInput.files[0];
        if (!file) {
            alert('Please select a file.');
            return;
        }
    
        const formData = new FormData();
        formData.append('csv_file', file);
    
        fetch('/process_csv/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': getCookie('csrftoken')
                },
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to upload file.');
            }
            return response.json();
        })
        .then(data => {
            console.log(data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>
</body>
</html>