{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MSC Construction Between Acquirers</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'AppSite/dashboard.css'%}">
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <img src="{%static 'AppSite/output-onlinepngtools.png'%}" alt="Logo">
                        </span>
                    </a>
                </li>

                <li>
                    <a href="dashboard">
                        <span class="icon">
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="/acquirer/">
                        <span class="icon">
                        </span>
                        <span class="title">PathBot</span>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <span class="icon">
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
            </div>
            <div id="csv-container">
                <input type="file" id="csv-file" accept=".csv">
                <div id="csv-data"></div>
                <div class="direction_buttons">
                    <button id="nextBtn" disabled>Next Transaction   ></button>
                    <button id="backBtn" disabled> <    Previous Transaction</button>
                    
                </div>
            </div>
            <table class="dptable">
                <tr>
                  <th>Card Type</th>
                  <th>3DS_Secure</th>
                  <th>CardHolder Country</th>
                  <th>Issuer Country</th>
                  <th>Merchant Code</th>
                  <th>Transaction Method</th>
                  <th>Amount</th>
                </tr>
                <tr>
                <td id='Card_type'></td>
                <td id='secure'></td>
                <td id='ch_country'></td>
                <td id='is_country'></td>
                <td id='merchant_code'></td>
                <td id='transmethod'></td>
                <td id='amount'></td>
                </tr>
              </table>


              <div class="msc-values-container">
                  <div class="msc-item">
                      <img src="{% static 'AppSite/aib_logo.png' %}" alt="AIB Logo" class="aib-logo">
                      <span id='AIB_msc'>£</span>
                  </div>
                  <div class="msc-item">
                    <img src="{% static 'AppSite/elavon_logo.png' %}" alt="Elavon Logo" class="elavon-logo">
                    <span id='Elavon_msc'>£</span>
                </div>
                <div class="msc-item">
                    <img src="{% static 'AppSite/barclays_logo.png' %}" alt="Barclays Logo" class="barclays-logo">
                    <span id='Barclays_msc'>£</span>
                </div>
                <div class="msc-item">
                    <h1 id="Lowest Amount"></h1>
                </div>
              </div>

              <div class="transaction-count">
                <h0 id = 'title'> </h0> 
              </div>
            
            
            
            <div id="chart-container">
                <canvas id="myChart"></canvas>
                <canvas id="pieChart" width="800" height="800"></canvas>
            </div>



        </div>
    <script>let list = document.querySelectorAll(".navigation li");

        function activeLink() {
          list.forEach((item) => {
            item.classList.remove("hovered");
          });
          this.classList.add("hovered");
        }
        
        list.forEach((item) => item.addEventListener("mouseover", activeLink));
        
        let toggle = document.querySelector(".toggle");
        let navigation = document.querySelector(".navigation");
        let main = document.querySelector(".main");
        
        toggle.onclick = function () {
          navigation.classList.toggle("active");
          main.classList.toggle("active");
        };
        

    </script>
<script>
    document.getElementById('csv-file').addEventListener('change', handleFileSelect);

    let csvData = [];
    let currentIndex = 0;

    function handleFileSelect(event) {
        const file = event.target.files[0];
        if (!file) return;

        const reader = new FileReader();
        reader.onload = function(e) {
            const content = e.target.result;
            csvData = content.split('\n').map(row => row.trim().split(',')); 
            displayData();
        };
        reader.readAsText(file);
    }

    function displayData() {
    var cardTypeCell = document.getElementById('Card_type');
    var secureCell = document.getElementById('secure');
    var chCountryCell = document.getElementById('ch_country');
    var isCountryCell = document.getElementById('is_country');
    var merchantCodeCell = document.getElementById('merchant_code');
    var transMethodCell = document.getElementById('transmethod');
    var amountCell = document.getElementById('amount');
    var title = document.getElementById('title');

    title.innerHTML = `Transaction: ${currentIndex}`;
    cardTypeCell.textContent = csvData[currentIndex][0];
    secureCell.textContent = csvData[currentIndex][1];
    chCountryCell.textContent = csvData[currentIndex][2];
    isCountryCell.textContent = csvData[currentIndex][3];
    merchantCodeCell.textContent = csvData[currentIndex][7];
    transMethodCell.textContent = csvData[currentIndex][8];
    amountCell.textContent = csvData[currentIndex][9];

        updateNavigationButtons();
    }

    function updateNavigationButtons() {
        const nextBtn = document.getElementById('nextBtn');
        const backBtn = document.getElementById('backBtn');
        
        nextBtn.disabled = currentIndex === csvData.length - 2;
        backBtn.disabled = currentIndex === 1;
        
    }

    document.getElementById('backBtn').addEventListener('click', function() {
        if (currentIndex > 0) {
            currentIndex--;
            displayData();
            fetchPythonOutput(); 
        }
    });

    document.getElementById('nextBtn').addEventListener('click', function() {
        if (currentIndex < csvData.length - 1) {
            currentIndex++;
            displayData();
            fetchPythonOutput(); 
        }
    });
    function ChartUpdate(newData,updatedlist) {
    if (myChart) {
        if (newData.dataset1 && newData.dataset2 && newData.dataset3) {
            myChart.data.datasets[0].data = eval(newData.dataset1);
            myChart.data.datasets[1].data = eval(newData.dataset2);
            myChart.data.datasets[2].data = eval(newData.dataset3);
            PieChart.data.datasets[0].data = updatedlist;
            PieChart.update();
            myChart.update(); 
        } else {
            console.error("Error: Invalid data format in newData.");
        }
    } else {
        console.error("Error: myChart reference is undefined or null.");
    }
};
    function fetchPythonOutput() {
    aib_msc = document.getElementById('AIB_msc');
    elavon_msc = document.getElementById('Elavon_msc');
    barc_msc = document.getElementById('Barclays_msc');
    lowest = document.getElementById('Lowest Amount');
    const selectedRowData = csvData[currentIndex]; 
    fetch('/process_csv/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: 'selected_row=' + encodeURIComponent(JSON.stringify(selectedRowData))
    })
    .then(response => response.json())
    .then(data => {
        const updated = eval(data.result);
        const upddataset1 = eval(updated.dataset1);
        const upddataset2 = eval(updated.dataset2);
        const upddataset3 = eval(updated.dataset3);
        const aib_update = upddataset1[0] + upddataset2[0] + upddataset3[0];
        const elavon_update = upddataset1[1] + upddataset2[1] + upddataset3[1];
        const barclays_update  = upddataset1[2] + upddataset2[2] + upddataset3[2];
        ChartUpdate(data.result,[aib_update,elavon_update,barclays_update]);
        aib_msc.innerHTML = `£${upddataset1[0] + upddataset2[0] + upddataset3[0]}`;
        elavon_msc.innerHTML =  `£${upddataset1[1] + upddataset2[1] + upddataset3[1]}`;
        barc_msc.innerHTML =  `£${upddataset1[2] + upddataset2[2] + upddataset3[2]}`;
        lowest.innerHTML = `Lowest MSC Acquirer : ${updated.lowest}`;
    })
    .catch(error => {
        console.error('Error:', error);
    });
}
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['AIB', 'Elavon', 'Barclays'],
                    datasets: [{
                        label: 'Interchange Rate',
                        backgroundColor: 'rgba(255, 99, 132, 0.5)', 
                        data:[0,1,2]
                    }, {
                        label: 'Scheme Fee',
                        backgroundColor: 'rgba(54, 162, 235, 0.5)', 
                        data: [0,1,2]
                    },{
                        label: 'Margin',
                        backgroundColor: 'rgba(75, 192, 192, 0.5)', 
                        data: [0,1,2]
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'MSC Construction Between Acquirers'
                        }
                    },
                    scales: {
                        x: {
                            stacked: true,
                        },
                        y: {
                            stacked: true
                        }
                    }
                }
            });
        const data = {
            labels: ['AIB', 'Elavon', 'Barclays'],
            datasets: [{
                label: 'Data',
                data: [33.33, 33.33, 33.34], 
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4 
            }]
        };


        const options = {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Total MSC'
                }
            }
        };
        const ctx1 = document.getElementById('pieChart').getContext('2d');
        const PieChart = new Chart(ctx1,  {
            type: 'pie',
            data: data,
            options: options
        });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
</body>
</html>