{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MSC Construction Between Acquirers</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'AppSite/style.css'%}">

</head>

<div class="features_header">
    <h1>Detailed Features - A deep dive into SmartPath</h1>
</div>

<div class="features_content">
    <h2>AI and Machine Learning based Data Analysis</h2>
    <p>SmartPath's platform utilises AI and ML to deliver accurate predictive analysis from complex transactional data</p>
    <h2>Cloud based hosting with Encryption</h2>
    <p>Flexibility and Security, allowing for optimal uptime, and ensuring your financial data is secure</p>
    <h2>Graphical representations of Settlement Data analysis</h2>
    <p>Visualise your data through visceral and intuitive graphs and charts</p>
    <h2>Acquirer with lowest MSC presented based on pre determined Transactional Data Points</h2>
    <p>Identifies the acquirer with the lowest MSC for each transaction, optimising your costs</p>
    <h2>User Friendly analysis dashboard</h2>
    <p>Our dashboard offers a user-friendly interface for streamlined analysis, enabling effective decision making</p>
