{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MSC Construction Between Acquirers</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'AppSite/style.css'%}">

</head>

<div class="oursolution_header">
    <h1>Our Solution</h1>
</div>

<div class="oursolution_content">
    <h2>Purpose</h2>
    <p>xyz</p>

    <h2>Steps</h2>
    <p>xyz</p>

    <h2>Benefits</h2>
    <p>xyz</p>
</div>