{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MSC Construction Between Acquirers</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'AppSite/style.css'%}">

</head>

<div class="oursolution_header">
    <h1>Our Solution</h1>
</div>

<div class="oursolution_content">
    <h2>Purpose</h2>
    <p>To help you identify cost saving opportunities within your Settlement Data files</p>
    <p>Locate the acquirer with the most economical Merchant Service Charge Cost</p>
    <p>Analyse your transactional data through visualisation graphics</p>

    <h2>Steps</h2>
    <p>Input your CSV based Settlement File</p>
    <p>Allow SmartPath to analyse and identify the most cost effective route for your transactions</p>
    <p>Output the results in a data visualisation dashboard format</p>

    <h2>Benefits</h2>
    <p>Revenue optimisation</p>
    <p>Data driven decision making</p>
    <p>Increased efficency in data analysis processing</p>
</div>