{% load static %}
<!DOCTYPE html>
<html>

<div id = "homepagebar">
    <img src="{%static 'AppSite/output-onlinepngtools.png'%}" alt="Logo">
    <a href="/">
      Homepage
    </a>
    <a href="/oursolution">
      Our Solution
    </a>
    <a href="/features">
      Features
    </a>
    <a href="/about">
      About SmartPath
    </a>
    <a href="/security">
      Security & Privacy
    </a>
    <a href="/contactus">
      Contact Us
    </a>
    <a href="#" onclick="document.getElementById('id01').style.display='block'; return false;" style="width:auto;">
      Login
    </a>
</div>
    
<head>
	<title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'AppSite/style.css'%}">
</html>
<body>
    <h1 class="header">SmartPath Registration</h1>
    <form method="post">
        {% csrf_token %}
        <label for="id_fname" class="form-label">First Name:</label>
        {{ form.fname }}
        <label for="id_lname" class="form-label">Last Name:</label>
        {{ form.lname }}
        <label for="id_date_of_birth" class="form-label">Date of Birth:</label>
        {{ form.date_of_birth }}
        <label for="id_email" class="form-label">Email:</label>
        {{ form.email }}
        <label for="id_password" class="form-label">Password:</label>
        {{ form.password }}
        <label for="id_repassword" class="form-label">Confirm Password:</label>
        {{ form.repassword }}
        <button type="submit" class="submit-btn">Register</button>
    </form>
</body>
</html>
