{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MSC Construction Between Acquirers</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'AppSite/style.css'%}">

</head>

<div class="security_header">
    <h1>Security & Privacy</h1>
</div>

<div class="security_content">
    <h2>Cloud-Based Framework</h2>
    <p>Benefit from the flexibility and scalability of SmartPath's cloud-based hosting service, ensuring financial analysis is available at optimal uptime. In association with Microsoft Azure</p>
    <h2>Encryption</h2>
    <p>Data Integrity and confidentiality are secured through advanced cloud-based encryption, during storage and transmission</p>
    <h2>Machine Learning</h2>
    <p>Enhancing security with Machine Learning capabilties, identfies and adapts to new potential threats, ensuring full data protection</p>
</div>